<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>@ViewBag.Title</title>
    <style>
        .headerStyle {
            padding: 20px;
            border: solid medium black;
            font-size: 20pt;
        }

        
    </style>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            
                
     
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
               
                <li>@Html.ActionLink("About", "About", "Home")</li>
                
               <li>@Html.ActionLink("Contact", "Contact", "Home")</li> 
                
               <li>@Html.ActionLink("History", "History", "Home")</li> 
                
                <li>@Html.ActionLink("Map", "Index", "Map")</li>
                
                <li>@Html.ActionLink("News", "Index", "News")</li>
                
                <li>@Html.ActionLink("Member", "Index", "Member")</li>
                </ul>
        </div>
    </nav>
        <div>
            @RenderBody()
        </div>

        @Html.ActionLink("Show all Messages", "Index", "Message")<br />
        @Html.ActionLink("Show all Members", "Index", "Member")<br />
        @Html.ActionLink("Add a Message", "MessageForm", "Message")<br />

        @Html.ActionLink("Show database messages", "MessagesByTopic", "Message",
    new { topic = "database" })<br />

        @Html.ActionLink("Show fun messages", "MessagesBySubject", "Message",
    new { subject = "fun" })<br />
</body>
</html>
