@model List<RedoCommunityApp.Models.Message>

<h1 class="headerStyle"> This is the messages page</h1>
@foreach (var m in Model)
{
   
    @: Topic:   @m.Topic <br />
    @: Subject: @m.Subject <br />
    @: Body:    @m.Body <br />
    @: Date:    @m.Date <br /> 
    @:From:     @m.From.Name
     <br />
    @Html.ActionLink("Add a reply", "ReplyForm", "Reply",
    new {Id = m.MessageID })
    <br /> <br />

}